.login-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #e9f1e9;
  flex-wrap: wrap;
  margin-top: 40px;
}

.login-h2 {
  color: #000900;
  font-size: 55px;
  font-weight: 450;
  text-align: center;
  margin-bottom: 30px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.input-email,
form input[type="password"] {
  width: 250px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 60px;
}

form button[type="submit"] {
  margin-top: 20px;
  padding: 21px 50px;
  background-color: #000200;
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-goback{
  margin-top: 20px;
  padding: 10px 50px;
  background-color: #000200;
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-weight: bold;
}

.button-back,
.button-login {
  margin: 0 10px;
}

table td{
  border-bottom: #fff;
}

.registration-link {
  text-align: center;
}
